body{
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}
.img-1 {
    width: 100%;
    height: 700px;
    border: 0px white;
    background-image: url(/pictures/Pic-7.jpg);
    background-size: cover;
    text-align: center;
    font-size: 200%;
    color: black(202, 171, 124, 0.753);
    padding-top: 80px;
    background-position: 50% 50%;
}
.img-1:hover{
    font-size: 35px;
}
.row1{
    width: 100%;
    height: auto;
}
.col1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;  
}
.col1-1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;  
}
.text{
    padding-top: 80px;
    padding-left: 90px;
}
.text-h1{
    font-size: 20px;
}
.text-1{
    border: 2px solid rgb(240, 75, 75);
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 1900px;
    color: rgb(240, 75, 75);
    font-size: 14px;
}
.text-p1{
    margin: 30px 0px 80px 0;
}
.row2{
    width: 100%;
    height: auto;
}
.col2{
    width: 25%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.row3{
    width: 100%;
    height: auto;
}
.col3{
    width: 25%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.col3-1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.text-11{
    border: 2px solid white;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 1900px;
    color: white;
    font-size: 14px;
}
.row4{
    width: 100%;
    height: auto;
}
.col4-1{
    width: 60%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.col4{
    width: 40%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
#text4{
    color: white;
}
.col1:hover,.col2:hover,.col3-1:hover,.col4-1:hover{
    -webkit-filter: grayscale(200%);
    -webkit-transition: all 1s ease;
    -webkit-transform: scale(1.01);
    transition-delay: 0.2s;
}
.row5{
    width: 100%;
    height: auto;
}
.col5{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.row6{
    width: 100%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #292f33;
    color: wheat;
    font-size: 50px;
    text-align: center;
}
/*
.col6{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #292f33;
    /*background: linear-gradient(to right,limegreen, rgb(17, 189, 189));*/
    /*background: linear-gradient(-45deg, #50badd, #24f73d  );*/
}
.col6-1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #292f33;
    color: wheat;
    font-size: 50px;
    text-align: center;
    /*background: linear-gradient(to right,limegreen, rgb(17, 189, 189));*/
    /*background: linear-gradient(-45deg, #50badd, #24f73d  );*/
}
*/


.form6{
    margin: 50px 100px;
}
.form6-1{
    border: 2px solid red;
    margin: 10px 0px 10px 0px;
    padding: 10px 30px 10px 1px;
}
#form6-11{
    padding: 0px 40px 40px 0px;
    margin-right: 0px;
}
#form6-1s{
    border: 3px solid red;
    margin: 10px 0px 10px 0px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
    font-size: 15px;
}
#form6-1s:hover{
    font-size: 17px;
}

#form6-111{
    border: 2px solid red;
    margin:  10px 0px 10px 0px;
    padding: 10px 40px 10px 1px;
}

@media (max-width: 850px) {
    .img-1{
        background-size: cover; 
        width: 100%;
    }
    .row1 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
    }
    .col1{
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }
    .col1-1{
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }

    .row2 {
        display: grid;
        grid-template-rows: repeat(1, 1fr); 
        background-size: cover;
        width: 100%;
    }
    .col2{
        width: 100%;
        background-size: cover;
    }
    .col2-1{
        width: 100%;
        background-size: cover;
    }
    .row3 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col3{
        width: 100%;
    }
    .col3-1{
        width: 100%;
    }
    .row4 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col4{
        width: 100%;
    }
    .col4-1{
        width: 100%;
    }
    .row5 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col5{
        width: 100%;
    }
    .col5-1{
        width: 100%;
    }
    .row6 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col6{
        width: 100%;
    }
    .col6-1{
        width: 100%;
    }
}

@media (max-width: 650px) {
    .img-1 {
        display: grid;
        grid-template-rows: repeat(1, 1fr); 
        background-size: cover; 
        width: 100%;
        background-position: 50% 50%;
        font-size: 28px;
        color: white;
    }
    .row1 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
        width: 100%;
    }
    .col1{
        width: 100%;
        background-position: 50% 50%;
    }
    .col1-1{
        width: 100%;
        background-position: 50% 50%;
    }

    .row2 {
        display: grid;
        grid-template-rows: repeat(1, 1fr); 
        background-size: cover;
        width: 100%;
    }
    .col2{
        width: 100%;
    }
    .col2-1{
        width: 100%;
    }
    .row3 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col3{
        width: 100%;
    }
    .col3-1{
        width: 100%;
    }
    .row4 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col4{
        width: 100%;
    }
    .col4-1{
        width: 100%;
    }
    .row5 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col5{
        width: 100%;
    }
    .col5-1{
        width: 100%;
    }
    .row6 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        background-size: cover;
    }
    .col6{
        width: 100%;
        margin-left: -80px;
        padding-right: -50px;
    }
    .col6-1{
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        margin-left: -60px;
        margin-right: 40px;
        font-size: 30px;
    }
    
  }

@media (max-width: 375px) {

    .form6-1{
        border: 2px solid red;
        margin: 10px 0px 10px -18px;
        padding: 10px 0px 10px 1px;
    }
    #form6-11{
        padding: 0px 10px 40px 0px;
        margin-right: 0px;
}
.img-1 {
    display: grid;
    grid-template-rows: repeat(1, 1fr); 
    background-size: cover; 
    width: 100%;
    background-position: 50% 50%;
    font-size: 26px;
    color: white;
        
/*    @media (max-width:870px){
    .check{
        min-height: 800px;
        height: 100vh;

        display: flex;
        flex-direction: column;
        transform: translate(-50%, -100% )
    }*/




