body{
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
}
.img-1 {
    width: 100%;
    height: 700px;
    border: 0px white;
    background-image: url(/pictures/Pic-7.jpg);
    background-size: cover;
    text-align: center;
    font-size: 200%;
    color: black(202, 171, 124, 0.753);
    padding-top: 80px;
    background-position: 50% 50%;
}
.img-1:hover{
    font-size: 35px;
}
.row1{
    width: 100%;
    height: auto;
}
.col1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;  
}
.col1-1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;  
}
.text{
    padding-top: 80px;
    padding-left: 90px;
}
.text-h1{
    font-size: 35px;
}
.text-1{
    border: 2px solid rgb(240, 75, 75);
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 1900px;
    color: rgb(240, 75, 75);
    font-size: 14px;
}
.text-p1{
    margin: 30px 0px 80px 0;
}
.row2{
    width: 100%;
    height: auto;
}
.col2{
    width: 25%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.row3{
    width: 100%;
    height: auto;
}
.col3{
    width: 25%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.col3-1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.text-11{
    border: 2px solid white;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 1900px;
    color: white;
    font-size: 14px;
}
.row4{
    width: 100%;
    height: auto;
}
.col4-1{
    width: 60%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.col4{
    width: 40%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
#text4{
    color: white;
}
.col1:hover,.col2:hover,.col3-1:hover,.col4-1:hover{
    -webkit-filter: grayscale(200%);
    -webkit-transition: all 1s ease;
    -webkit-transform: scale(1.01);
    transition-delay: 0.2s;
}
.row5{
    width: 100%;
    height: auto;
}
.col5{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
}
.row6{
    width: 100%;
    height: auto;
    background-color: #111111;
}
.col6{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
    /*background: linear-gradient(to right,limegreen, rgb(17, 189, 189));*/
    /*background: linear-gradient(-45deg, #50badd, #24f73d  );*/
}
.col6-1{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 0%;
    border: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-color: black;
    /*background: linear-gradient(to right,limegreen, rgb(17, 189, 189));*/
    /*background: linear-gradient(-45deg, #50badd, #24f73d  );*/
}
.form6{
    margin: 50px 100px;
}
.form6-1{
    border: 2px solid red;
    margin: 10px;
    padding: 10px 240px 10px 1px;
}
#form6-11{
    padding: 0px 251px 40px 0px;
    margin-right: 100px;
}
/*    @media (max-width:870px){
    .check{
        min-height: 800px;
        height: 100vh;

        display: flex;
        flex-direction: column;
        transform: translate(-50%, -100% )
    }*/




