body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    width: 70%;
    margin: auto;
}

header h1{
    margin: 0;
    font-size: 50px;
    color: rgb(52, 73, 1);
    font-weight: 500;
}

/* framework 1 css part */

.sdgnews-1{
    display: flex;
    margin: 30px 5%;
}

.sdgnews-1 img{
    width: 100%;
    filter: brightness(0.7);
}

.sdgnews-1 h2{
    margin: 0;
    padding: 5px;
    color: white;
}

.featured h2{
    background-color: black;
}

.latest h2{
    background-color: darkred;
}

.news-1 h2{
    background-color: darkblue;
}

.carsusel{
    position: relative;
}

.news-container{
    position: relative;
}

.news-text{
    font-size: 18px;
    position: absolute;
    color: white;
    z-index: 2;
    bottom: 5px;
    font-weight: bolder;
    padding: 0 10px;
    transition-duration: 500ms;
}

.featured{
    flex: 2;
}

.latest{
    flex: 1;
}

.news-1{
    flex: 1;
}

.news-container:hover{
    cursor: pointer;
}

.news-container:hover > .news-text{
    bottom: 10px;
}

.carousel-item img{
    height: 350px;
}

.news-container img{
    height: 175px;
}

/* sdg news-2 css part */

.sdgnews-2{
    background-color: black;
    color: white;
}

.sdgnews-2 h4{
    margin: 25px auto;
    max-width: 550px;
    position: relative;
}

.sdgnews-2 h4:before{
    background-color: black;
    display: block;
    width: 195px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.sdgnews-2 h4 :after{
    background-color: black;
    display: block;
    width: 195px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}

.more-news{
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
    text-align: justify;
}

.more-news img{
    width: 100%;
}

.morenews-1{
    flex-basis: 35%;
}

.morenews-2{
    flex-basis: 35%;
}

.morenews-3{
    flex-basis: 25%;
}

.recent-news{
    display: flex;
}

.recent-news img{
    width: 70px;
    height: 70px;
    margin: 10px;
}

.recent-news p{
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    text-align: justify;
}

.recent{
    border: 2px solid white;
    margin: auto 0;
    border-radius: 5px;
    padding: 5px;
}

