*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,input{
    font-family: 'Public Sans', sans-serif; 
}
.content{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color:#fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-s{
    width: 100%;
    max-width: 600px;
    background-colo:#fff;
    border-radius: 24px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .6);
    z-index: 100;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.img{
    background:linear-gradient(45deg, #1cd4af, #159b80);
    z-index: 50;
}
.img img{
    width: 350px;
    max-width: 100%;
    background: transparent;
    position:relative;
    padding: 2rem;
    margin-left: 7rem;
}
.img::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#1abc9c;
    transform: rotate(45deg);
    top: 48%;
    left: 50%;
}
.form{
    background-color:transparent;
    z-index: 50;
}
 .title h2{
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem 3rem 2rem 3rem; 
    margin-left: 6.5rem;
}
.title p{
    font-size: 1.2rem;
    padding: .5rem 3rem 1rem 3rem; 
    margin-left: 6.5rem;
}
.input-field{
    margin: 1rem;
    
} 
input{
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: 1rem;
    height: 42px;
    padding: 0.8rem 1rem;
    margin-left:1rem;
    width: 70%;
}
input.btn{
    background-color: #312940;
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 150px;
    height: 42px;
    padding: 0.8rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position:relative;
    transition: .3s;
    top: 0;
    right: 0;
    margin: 0;
}
.btn:hover{
    background-color: #2d2835;
    letter-spacing: 5px;
}
.l-sqr{
    position: absolute;
    width: 490px;
    height: 490px;
    border-radius:50%;
    background: linear-gradient(to bottom, #1cd4af, #159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}
.l-sqr::after{
    content:"";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}
@media ()