@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,input{
    font-family: 'Poppins',sans-serif;
}

.conteiners{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:#fff;
    overflow: hidden;
}

.forms-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.button:hover{
    background-color: #4d84e2;
}

.sign-in-up-option{
    padding: .7rem 0;
    font-size: 1rem;
}

.social-media{
    
}