*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,input,
textarea{
    font-family: 'Public Sans', sans-serif; 
}
body.scroll{
    overflow: hidden;
}
a, a:visited, a:hover{
    text-decoration: none;
   
}
/* Flexbox */
.flex{
    display: flex;
}
.flex.jc-sb{
    justify-content: space-between;
}

.flex.jc-cc{
    justify-content: center;
}

.flex.ai-c{
    align-items: center;
}
  
.header .links a{
    position: relative;
    font-size: 0.875rem;
    font-weight: 400;
    color: lightslategray;
    transition: color 300ms ease-in-out;
    margin-right: 32px;

    }
    .links a::before{
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right,limegreen, rgb(17, 189, 189));
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

.header .logo img{
    width: 100px;
    height: 70px;
}

nav {
    position: relative;
    background-color:whitesmoke ;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    z-index: 200;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}



.header .menu span{ /*Mobile Menu*/
    display: block;
    width: 26px;
    height: 2px;
    background-color: green;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
    margin-bottom: 5px;

}


 .header.open .menu span:first-child{
    transform: rotate(45deg);

    }
.header.open .menu span:nth-child(2){
    opacity: 0;
        
    }
.header.open .menu span:last-child{
    transform: rotate(-45deg);
        
    }

.links a:hover{
    color: darkgreen;
}
.links a:hover::before{
    opacity: 1;
    
}
.header .overlay{
    opacity: 0;
    position: fixed;
    z-index: 200;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(darkcyan, transparent);
    visibility: visible;
}

.header .h_menu{
    position: absolute;
    z-index: 200;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background:whitesmoke;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 7px;
}

.header .h_menu a{

    color: darkslategray;
    padding: 0.625rem;
    display: block;
    text-align: center;
}
/* header close*/
.content{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color:#fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 820px;
    background-colo:#fff;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactUs-form{
    background: linear-gradient(45deg, #1cd4af, #159b80 );
    position:relative;
}
.contactUs-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.input-field{
    position: relative;
    margin: 1rem 0;
}

.inputs{
    width: 100%;
    outline: none;
    border: 2px solid rgb(46, 45, 45);
    background: none;
    padding: 0.6rem 1.5rem;
    color: #fff;
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border-radius: 20px;
    transition: .3s;
}

textarea.inputs{
    padding: .8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow: auto;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 100;
    transition: .5s;
}
.input-field.text-field label{
    top: 1rem;
    transform: translateY(0);
}
.in-button{
    padding: .5rem 1.2rem;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 1rem;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    color: black;
    cursor: pointer;
    transition: .3s;
    margin: 0;
    text-transform: uppercase;
}

.in-button:hover{
    background-color: #1abc9c;
    color: #fff;
}

.input-field span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 1rem .4rem;
    color: transparent;
    pointer-events: none;
    z-index: 50;
}

.input-field span::before,
.input-field span::after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.1s;
    height: 8px;
    background-color:#1abc9c;
    transform: translateY(50%);
}
.input-field span::before{
    left: 50%;
}
.input-field span::after{
    right: 50%;
}
.input-field.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1rem;
}
.input-field.focus span::before,
.input-field.focus span::after{
    width: 50%;
    opacity: 0.5;
}

.info-contact{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.info-contact .title{
    color: rgba(0, 0, 0, 0.61);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;

}
.paragraph{
    color: #333;
    margin: 2rem 0 3rem 0;
    font-size: 1rem;
}
.info-mail{
    display: flex;
    color: #555;
    margin: 1rem 0;
    align-items: center;
    font-size: .95rem;
}
.info-mail p{
    margin-bottom: .3rem;
}
#e-icon{
    width:25px;
    margin-right: 1rem;
}
.social-platform{
    padding: 10rem 0 0 0;
}
.social-platform p{
    color: #333;
    font-size: 1.2rem;
    margin-left: 15px;
}
.s-icon{
    display: flex;
    margin-top: 0.5rem;
    margin-left: 10px;
}
.s-icon a{
    height: 35px;
    width: 35px;
    border: 1px solid #333;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    line-height: 35px;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;  
    cursor: pointer;
}
.s-icon a:hover{
    transform: scale(1.05);
}
.info-contact::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #1abc9c;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}
.l-circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius:50%;
    background: linear-gradient(to bottom, #1cd4af, #159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.l-circle::after{
    content:"";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}
/*footer*/

footer{
    background-color:rgb(183, 194, 196);
    color: whitesmoke;
    padding: 2.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

footer a{
    color: whitesmoke;
    font-size: 0.9375rem;
}
.f_logo img{
    width: 100px;
    height: 70px;
    margin-bottom: 1.875rem;

}

.f_social{
margin-bottom: 1.875rem;
}

.f_social a:not(:last-child){
    display: inline-block;
    margin-right: 1rem;
}
.f_social a img{
    width: 1.475rem;
}
.f_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.25rem;

}

.f_links2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.875rem;
    line-height: 2.25rem;
}

.f_button a.button2{
    padding: 1rem 1.875rem;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(to right,limegreen, rgb(17, 189, 189));    
    cursor: pointer;
    color: whitesmoke;
    transition: opacity 300ms ease-in-out;
    font-weight: 400;
    width: 160px;
    height: 50px;
}

.f_button a .button2:hover{
    opacity: 0.75;
}

.f_copyright{
    margin-top: 1.875rem;
    font-size: 0.9375rem;
    opacity: 0.7;

}
/*Buttons*/

.button{
    padding: 1rem 1.875rem;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(to right,limegreen, rgb(17, 189, 189));    
    cursor: pointer;
    color: whitesmoke;
    transition: opacity 300ms ease-in-out;
    font-weight: 400;
    
}
.button:hover{
    opacity: 0.75;
}


/*Animations*/

.has-fade {
    visibility: hidden;
  }

@keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
  }
  
  @keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
  }
/*Responsive Create*/

@media(min-width:850px){
    .menu {
        display: none;
    }
    .h_menu{
        display: none;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr)2fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "f_logo f_links f_links2 f_button"
        "f_social f_links f_links2 f_button"; 
        justify-items: start;
        
    }
    .f_logo{
        grid-area: f_logo;
    }

    .f_social{
        grid-area: f_social;
        margin-bottom: 0;
    }
    .f_links{
        grid-area: f_links;
        align-items: start;
        margin-left: 2rem;
        line-height: 3.25rem;
    }
    .f_links2{
        grid-area: f_links2;
        align-items: start;
        line-height: 3.25rem;
    }
    .f_button{
        grid-area: f_button;
        align-items: end;
        text-align: right;
        justify-self: end;
        margin-top: 1rem;
    }
    .f_copyright{
        margin-top: 4.875rem;
    
    }
}

@media(max-width: 850px){
  
    .form{
        grid-template-columns: 1fr; 
    }
    .info-contact::before{
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    .contactUs-form::before{
        top: -13px;
        left: initial;
        right: 70px;
        background:#159b80 ;
    }
    .l-circle{
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }
    .paragraph{
        margin: 1rem 0 1.5rem 0;
    }
    .social-platform{
        padding: 1.5rem 0 0 0;
    }
    .button{
        display: none;
    }
    .links{
        display: none;
    }
    .f_item{
    flex:0 0 50%;
    }


}
@media (max-width: 650px){
   
    .button{
        display: none;
    }
    .links{
        display: none;
    }
    .header .logo img{
        width: 100px;
        height: 70px;
    }
    .menu{
        margin-left: 0.475rem;
    }
   
}
@media(max-width: 480px){
    .header .logo img{
        width: 100px;
        height: 70px;
    }
    .content{
        padding: 1.5rem;
    }
    .info-contact::before{
        display: none;
    }
    .l-circle{
        display: none;
    }
    form,
    .info-contact{
        padding: 1.7rem 1.6rem;
    }
    .paragraph,.info-mail,.social-platform p{
        font-size: 0.8rem;
    }
    .title{
        font-size: 1.15rem;
    }
    #e-icon{
        width: 23px;
    }
    .s-icon a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .inputs{
        padding: .45rem 1.2rem;
    }
    .button{
        padding: .45rem 1.2rem;
    }
}