*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
input,
textarea{
    font-family: 'Public Sans', sans-serif;
}

 .content{
     position: relative;
     width: 100%;
     min-height: 100vh;
     padding: 2rem;
     background-color: #fff;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;    
}  
.form{
    width: 100%;
    max-width: 820px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contactUs-form{
    background-color:#1abca1;
    position: relative;
}
.contactUs-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
} 
form{
    padding: 2.3rem 2.2rem;
    z-index: 5;
    overflow: hidden;
    position: relative;
}
.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
