html{
    font-size: 100%;
    box-sizing: border-box;
   
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.3;
    overflow-x: hidden;
   
}
h2{
    font-size: 1.875rem;
    color: rgb(103, 104, 104);
}

body.scroll{
    overflow: hidden;
}
a, a:visited, a:hover{
    text-decoration: none;
   
}

.banner{
    width: 100%;
    height: 85.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner .vcontent{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

.loln{
    display: inline-block;
    font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
    font-weight: 700;
    font-size: 16.5rem;
    color:rgba(37, 172, 154,0.85);
}

.lol{
    display: inline-block;
    font-size: 5.5rem;
    margin-bottom: 1rem;

}
.lol2{
    margin-right: 13rem;
}

.lol3{
    margin-top: -3rem;
    background-color: rgba(37, 172, 154,0.3);
}

/* Flexbox */
.flex{
    display: flex;
}
.flex.jc-sb{
    justify-content: space-between;
}

.flex.jc-cc{
    justify-content: center;
}

.flex.ai-c{
    align-items: center;
}
  
.header .links a{
    position: relative;
    font-size: 0.875rem;
    font-weight: 400;
    color: lightslategray;
    transition: color 300ms ease-in-out;
    margin-right: 32px;

    }
    .links a::before{
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right,limegreen, rgb(17, 189, 189));
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

.header .logo img{
    width: 100px;
}

nav {
    position: relative;
    background-color:whitesmoke ;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    z-index: 2;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}



.header .menu span{ /*Mobile Menu*/
    display: block;
    width: 26px;
    height: 2px;
    background-color: green;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
    margin-bottom: 5px;

}


 .header.open .menu span:first-child{
    transform: rotate(45deg);

    }
.header.open .menu span:nth-child(2){
    opacity: 0;
        
    }
.header.open .menu span:last-child{
    transform: rotate(-45deg);
        
    }

.links a:hover{
    color: darkgreen;
}
.links a:hover::before{
    opacity: 1;
    
}
.header .overlay{
    opacity: 0;
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(darkcyan, transparent);
    visibility: visible;
}

.header .h_menu{
    position: absolute;
    z-index: 2;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background:whitesmoke;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 7px;
}

.header .h_menu a{

    color: darkslategray;
    padding: 0.625rem;
    display: block;
    text-align: center;
    transition: all 150ms ease-in-out;
}

.header .h_menu a:hover{
    transform: scale(1.05);
}

.l-circle{

    position: absolute;

    width: 500px;

    height: 500px;

    border-radius:50%;

    background: linear-gradient(to bottom, #1cd4af, #159b80);

    bottom: 50%;

    right: 50%;

    transform: translate(110%, 260%);
    z-index: 0;
    opacity: 0.5;

}



.l-circle::after{

    content:"";

    position: absolute;

    width: 360px;

    height: 360px;

    background-color: #fff;

    border-radius: 50%;

    top: calc(50% - 180px);

    left: calc(50% - 180px);

}

/*feature set*/

.features{
    background-color: rgb(253, 253, 253);
    box-align: center;
}
.f_grid{
    display:flex;
    flex-wrap: wrap;
}

.features .f_item{
    padding: 0.935rem;
}



.features .f_icon{
    width: 2rem;
    margin-bottom: 1.875rem;

}

.features .f_title{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    line-height: 1.15;
    margin-bottom: 1.5rem;
    color: rgb(86, 87, 87);

}

.features .f_description{
    font-size: 0.875rem;
    line-height: 1.4rem;
    color: rgb(122, 122, 122);
    

}

.features_pad{
    padding-top: 4.25rem;
    padding-right: 1.5rem;
    padding-bottom: 4.25rem;
    padding-left: 1.5rem;
}

.f_p{
    margin-bottom: 3.75rem;
    color: rgb(122, 122, 122);
}
.mr{
    margin-right: 1rem;
}

.articles{
    background-color: rgb(244, 248, 247);

}

.a_content{

}

.a_grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

}

.a_item{
    background-color: white;
    border-radius: 0.3125rem;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
    transition: all 150ms ease-in-out;
    z-index: 1;

}
.a_item:hover{
    transform: scale(1.05);
}

.a_img{
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.a_text{
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: rgb(122, 122, 122);

}

.a_author{
    font-size: 0.625rem;
    margin-bottom: 0.8rem;

}

.a_title{
    font-size: 1rem;
    line-height: 1.15rem;
    color: rgb(86, 87, 87);
    margin-bottom: 0.5rem;

}

.a_description{
    font-size: 0.8125rem;
}
/*footer*/

footer{
    background-color:rgb(183, 194, 196);
    color: whitesmoke;
    padding: 2.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

footer a{
    color: whitesmoke;
    font-size: 0.9375rem;
}
.f_logo img{
    width: 100px;
    height: 70px;
    margin-bottom: 1.875rem;

}

.f_social{
margin-bottom: 1.875rem;
}

.f_social a:not(:last-child){
    display: inline-block;
    margin-right: 1rem;
}
.f_social a img{
    width: 1.275rem;
    transition: all 150ms ease-in-out;
}
.f_social a img:hover{
    transform: scale(1.1);
}
.f_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.25rem;
}
.f_links a{
    transition: color 300ms ease-in-out;

}

.f_links a:hover{
    color: darkcyan;
}

.f_links2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.875rem;
    line-height: 2.25rem;
}
.f_links2 a{
    transition: color 300ms ease-in-out;

}

.f_links2 a:hover{
    color: darkcyan;
}

a.button2{
    pointer-events:auto;
    cursor: pointer;
    padding: 1rem 1.875rem;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(to right,limegreen, rgb(17, 189, 189));    
    color: whitesmoke;
    transition: opacity 300ms ease-in-out;
    font-weight: 400;
    width: 160px;
    height: 50px;
}

.f_button a:hover{
    opacity: 0.75;
}

.f_copyright{
    margin-top: 1.875rem;
    font-size: 0.9375rem;
    opacity: 0.7;

}
/*Buttons*/

.button{
    padding: 1rem 1.875rem;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(to right,limegreen, rgb(17, 189, 189));    
    cursor: pointer;
    color: whitesmoke;
    transition: opacity 300ms ease-in-out;
    font-weight: 400;
}
.button:hover{
    opacity: 0.75;
}


/*Animations*/


.has-fade {
    visibility: hidden;
  }
  
  @keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  .fade-in {
    animation: fade-in 200ms ease-in-out forwards;
  }
  
  @keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  .fade-out {
    animation: fade-out 200ms ease-in-out forwards;
  }

 /*visibility*/ 
 @media (min-width: 850px){
    .menu {
        display: none;
    }
    .h_menu{
        display: none;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr)2fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "f_logo f_links f_links2 f_button"
        "f_social f_links f_links2 f_button"; 
        justify-items: start;

    }
    h2{
        font-size: 2.25rem;
        margin-bottom: 2.25rem;
        font-weight: 300;
        line-height: 1.15;
    }

.f_item{
flex: 1;
margin-bottom: 2.25rem;
}
.f_p{
    max-width: 60%;
    margin-bottom: 3.75rem;
}
.features.f_title{
    font-size: 1.5rem;

}

    .f_logo{
        grid-area: f_logo;
    }

    .f_social{
        grid-area: f_social;
        margin-bottom: 0;
    }


    .f_links{
        grid-area: f_links;
        align-items: start;
        margin-left: 2rem;
        line-height: 3.25rem;
    }
    .f_links2{
        grid-area: f_links2;
        align-items: start;
        line-height: 3.25rem;
    }
    .f_button{
        grid-area: f_button;
        align-items: end;
        text-align: right;
        justify-self: end;
        margin-top: 1rem;
    }
    .f_copyright{
        margin-top: 4.875rem;
    
    }
    .a_grid{
        grid-template-columns: repeat(4, 1fr);
    
    }  
}


    @media (max-width: 850px){
        .button{
            display: none;
        }
        .links{
            display: none;
        }
    
        .logo img{
            width: 150px;
            padding: 7px;
        }
        .lol{
            font-size: 1.5rem;
        }
        .loln{
            font-size: 10.5rem;
        }
        .lol2{
            margin-right: 3.5rem;
        }
        .f_grid{
            display:flex;
            flex-wrap: wrap;
    }
    .f_item{
        flex:0 0 50%;
        }
        .a_grid{
            grid-template-columns: repeat(2, 1fr);
        
        }  
        .a_text{
            padding: 1.875rem 1.5625rem;
            
        }
        .l-circle{
            display: none;
        }
  
    }
    @media (max-width: 650px){
       
        .button{
            display: none;
        }
        .links{
            display: none;
        }
        .header .logo img{
            width: 150px;
            padding: 7px;
        }
        .menu{
            margin-left: 0.475rem;
        }
        .lol{
            font-size: 1.5rem;
        }
        .loln{
            font-size: 10.5rem;
        }
        .f_item{
            flex:100%;
            }
            .a_grid{
                grid-template-columns: repeat(1, 1fr);
            
            }     
       
    }


  


